html {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Buttons */
.button-scroll-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  height: 10%;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    display: inline-block; /* Make the ul a block-level element */
  }
  
/* Style the buttons */
.button-container button {
  padding: 10px;
  margin: 0 10px;
  font-size: 1rem;
  background-color: black;
  color: azure;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #ddd;
}

/* Create a grid for the buttons */
.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.category-btn {
  display: inline-block; /* Make the button a block-level element */
  padding: 10px; /* Add padding to the button */
  margin-right: 10px; /* Add some space between buttons */
}


/* Carousel */
.carousel-inner img {
  max-width: 100vw;
  max-height: 80vh;
  margin: auto; 
}

.carousel-item > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*Alt text below*/
#alt_text {
  position: fixed;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: black;
  color: azure;
  padding: 20px;
  text-align: center;
  font-size: 26px;
}
