/* Buttons */
.button-scroll-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    height: 10%;
  }
  
  .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      display: inline-block; /* Make the ul a block-level element */
    }
    
  /* Style the buttons */
  .button-container button {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    padding: 10px;
    margin: 0 10px;
    font-size: 1rem;
    background-color: black;
    color: azure;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #ddd;
    color: black;
  }

  /* Create a grid for the buttons */
.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .category-btn {
    display: inline-block; /* Make the button a block-level element */
    padding: 10px; /* Add padding to the button */
    margin-right: 10px; /* Add some space between buttons */
  }
  
  /* Style the active button */
  .active {
    background-color: #d3d3d3;
    color: black;
  }